.resume__container{

    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;

}

.timeline {
  
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);

}

.timeline__item {
  
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;

}

.timeline__item:last-child{

    padding-bottom: 0;
    
}

.timeline__item::before{

    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    position: absolute;
    left: .25rem;
    top: 0;

}

.timeline .fa-briefcase,
.timeline .fa-graduation-cap{

    position: absolute;
    left: -0.4375rem;
    top: 0;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    background-color: var(--container-color);
    padding: 0.4375rem 0;

}

.timeline__date {
  
    color: #8b88b1;
    font-size: var(--small-font-size);

}

.timeline__title {
  
    font-size: var(--h3-font-size);
    margin: 0.5rem 0;

}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .resume__container {
      grid-template-columns: 1fr; /* Cambiar a una sola columna */
      column-gap: 0; /* Eliminar espacio entre columnas */
     

    }
  
    .timeline {
      padding: 1.5rem; /* Reducir el relleno de la línea de tiempo */
    }
  
    .timeline__item {
      padding-left: 2rem; /* Reducir el espacio a la izquierda de los elementos */
      padding-bottom: 2rem; /* Reducir el espacio inferior de los elementos */
    }
  
    .timeline__item::before {
      left: 0.9375rem; /* Ajustar la posición de la línea vertical */
    }
  
    .timeline .fa-briefcase,
    .timeline .fa-graduation-cap {
      left: -0.3125rem; /* Ajustar la posición de los íconos */
      font-size: var(--h3-font-size); /* Reducir el tamaño de los íconos */
      padding: 0.25rem 0; /* Reducir el espacio alrededor de los íconos */
    }
  
    .timeline__date {
      font-size: var(--smaller-font-size); /* Reducir el tamaño de las fechas */
    }
  
    .timeline__title {
      font-size: var(--h2-font-size); /* Reducir el tamaño de los títulos */
      margin: 0.25rem 0; /* Reducir el espacio alrededor de los títulos */
    }

    .grid {
      
        margin-bottom: 40px;

    }

    .resume {
      
      margin-bottom: -80px;

    }

  }
  